h1 {
    text-align: center;
    margin: 0 auto;
}

.main {
    font-family: 'Open Sans', sans-serif;
    
    float:left;
    margin-bottom:20px;
}



h3 {    
    margin-top:5px;
    margin-bottom:5px;
    float: left;
    
}

h4 {
    margin:2px;
    float:left;
    text-align:left;
}


h5 {
   
    color:#EA4335;
    margin-top:20px;
    margin-bottom:0px;
    float:none;
    
}

span {
    font-size:130%;
}

a {
    text-decoration: none;
    color:#4285F4;
}

